body {
    background-image: url(backg.jpg);
    background-color: aqua;
}


.hamburger {
    background: none;
    line-height: 45px;
    padding: 5px 15px 0 15px;
    color: #999999;
    border: 0;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
}

.cross {
    background: none;
    padding: 7px 15px 0 15px;
    color: #999999;
    border: 0;
    font-size: 3em;
    line-height: 65px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
}

.menu2 {
    z-index: 1000000;
    font-weight: bold;
    font-size: 0.8em;
    width: 100%;
    background: #f1f1f1;
    text-align: center;
    font-size: 12px;

}

.menu2 ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}

.menu2 li {
    display: block;
    padding: 15px 0 15px 0;
    border-bottom: #dddddd 1px solid;
}

.menu2 li:hover {
    display: block;
    background: #ffffff;
    padding: 15px 0 15px 0;
    border-bottom: #dddddd 1px solid;
}

.menu2 ul li a {
    text-decoration: none;
    margin: 0;
    color: #666666;
}

.menu2 ul li a:hover {
    color: #666666;
    text-decoration: none;
}

.menu2 a {
    text-decoration: none;
    color: #666666;
}

.menu2 a:hover {
    text-decoration: none;
    color: #666666;
}

.glyphicon-home {
    color: white;
    font-size: 1.5em;
    margin: auto;
    margin-top: 5px;
}

span {
    padding-left: 20px;
}

a {
    color: #336699;
}

.container {
    width: 90%;
    height: 100%;
    margin: auto;
    opacity: 0.9;
    padding-top: 10px;
}

.img {
    margin: auto;
    width: 50%;
    display: block;
}

.img2 {
    margin: auto;
    display: block;
}

.button {
    display: block;
    width: 100%;
}

.button:hover {
    opacity: 0.5;
}

.button:active {
    background-color: darkslateblue;
}

.dp1 {
    display: none;
}

.link {
    font-family: Helvetica;
    color: #ca333c;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.img3 {
    width: 75%;
    margin: auto;
    padding-top: 15px;
    padding-left: 20px;
}

.img4 {
    width: 48%;
    margin-top: 30px;
}

.gallery {
    width: 200px;
    height: 600px;
    background-color: #00ac9c;
    padding: 2%;
    margin: auto;
    border: 10px;
    border-style: double;
    border-color: #55300d;
    border-radius: 20px;
}

.button {
    display: block;
    padding-top: 5px;
}

.menu {
    width: 200px;
    height: 650px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 2%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 5px;
    border-style: double;
    border-color: #00ac9c;
    border-radius: 20px;
}

.menu p {
    color: black;
    padding: 2%;
    border: 2px;
    border-style: double;
    border-color: #00ac9c;
    border-radius: 20px;

}

.hs {
    width: 60%;
    background-color: white;
    color: black;
    text-align: center;
    margin: auto;
    clear: both;
    padding: 2%;
    border: 5px;
    border-style: double;
    border-color: #55300d;
    border-radius: 20px;
}

.hs p {
    color: black;
    padding: 2%;
    border: 2px;
    border-style: double;
    border-color: #00ac9c;
    border-radius: 20px;
    margin-bottom: 2%;

}

p {
    text-align: center;
    color: #fffdf4;
    font-family: Helvetica;
    font-size: 0.75rem;
    padding: 1%;
}

h1 {
    font-family: Snell Roundhand;
    color: #55300d;
    font-size: 1.5rem;
}

h3 {
    font-family: Minion Pro;
    color: #ca333c;
}

header {
    background-image: url(header.jpg);
    background-color: green;
    width: 100%;
    height: 50px;
    margin: auto;
}

main {
    text-align: center;
    background-color: #00ac9c;
    color: #fffdf4;
    font-family: Helvetica;
    font-size: 0.75rem;
    padding-top: 20px;
    padding-bottom: 10px;
}

aside {
    width: 100%;
    margin: auto;
    overflow: auto;
}

article {
    margin: auto;
}

footer {
    background-color: #55300d;
    color: #fffdf4;
    font-family: Snell Roundhand;
    width: 100%;
}

.footer2 {
    background-color: #55300d;
    color: #fffdf4;
    font-family: Snell Roundhand;
    width: 96%;
    margin: auto;
    text-align: center;
    padding: 2%;
}

/* media Q */

@media (min-width: 500px) {

    main {
        text-align: center;
        background-color: #00ac9c;
        color: #fffdf4;
        font-family: Helvetica;
        font-size: 0.75rem;
        padding-top: 20px;
        margin: auto;
    }

    article {
        margin: 0 0 0 0;
        width: 50%;
    }

    .img {
        padding: 2%;
        width: 100%;
        display: block;
        margin-left: 250px;
    }

    .img3 {
        width: 45%;
        margin: auto;
        padding-top: 15px;
        padding-left: 150px;
    }

    .img4 {
        width: 25%;
        margin: auto;
        margin-left: 30px;
        margin-top: 30px;
    }

    .gallery {
        width: 500px;
        height: 750px;
        background-color: #00ac9c;
        padding: 2%;
        margin-top: 100px;
        float: left;
        border: 10px;
        border-style: double;
        border-color: #55300d;
        border-radius: 20px;
    }

    .menu {
        width: 300px;
        height: 600px;
        background-color: white;
        color: black;
        text-align: center;
        padding: 2%;
        margin-right: 15px;
        margin-left: 100px;
        margin-top: 150px;
        float: left;
        border: 5px;
        border-style: double;
        border-color: #00ac9c;
        border-radius: 20px;
    }

    .menu p {
        color: black;
        padding: 5%;
        border: 3px;
        border-style: double;
        border-color: #00ac9c;
        border-radius: 20px;

    }

    aside {
        width: 100%;
        overflow: auto;
    }

    section {
        width: 50%;
        height: 100px;
        float: right;
    }

    .button {
        display: block;
        padding-top: 5px;
    }

    .dp1 {
        display: block;
    }

    .dp2 {
        display: none;
    }

}
